## Задания по семинару 2

В ячеке под заданием приведите его решение. Для заданий, рассмотренных на семинаре, можете использовать решение полученное на занятии.

-----

0) Получить переменную, содержащую строку со значением равным двум в одиннадцатой степени и вывести ее на экран.

1) Наибольшим количеством способов создать строковую переменную, содержащую текст:

It's "quoted string"

In [1]:
a=input()
a

It's "quoted string"

'It\'s "quoted string"'

2) Наибольшим количеством способов создать строковую переменную, содержащую текст:

line1

line2

line3

In [7]:
a=int(input())
for i in range(1,a+1):
    print('line', i)

3
line 1
line 2
line 3

3) Наибольшим количеством способов создать строковую переменную, содержащую текст:

\\\\

\\\

\\

\

In [23]:
a=int(input())
for i in range(a,0,-1):
    print(' \ ' * i)

7
 \  \  \  \  \  \  \
 \  \  \  \  \  \
 \  \  \  \  \
 \  \  \  \
 \  \  \
 \  \
 \

4) Вывести 5й с начала и 5й с конца символ из строки 'Hello world'

In [4]:
a='Hello world'
a[4] + a[-5]

'ow'

5) Двумя способами получить символ 'w' из строки 'Hello world'

In [5]:
a='Hello world'
for i in a:
    if i=="w":
        print(i)

w

In [6]:
a='Hello world'
a[-5]

'w'

6) Вывести символ, находящийся в середине заранее неизвестной строки, полученной с помощью функции input().

Пример использования функции input:

In [16]:
# поместить строку, введенную пользователем, в переменную st
st = input()
b=len(st)
if b%2 == 0:
    print(st[b//2-1:b//2+1])
else:
    print(st[b//2])

Helloworld
ow

7) Для строки 'Light ray' двумя способами получить подстроку с 1го по 4й символы включительно.

In [25]:
a='Light ray'
a[0:4]
a[-9:-5]

'Ligh'

8) Для строки 'My new text' двумя способами получить подстроку с 3го по 7й символы включительно.

In [31]:
a='My new text'
a[3:7]
a[-8:-4]

'new '

9) Получить подстроку из последних 4х символов строки 'Light ray'.

In [32]:
a='Light ray'
a[-4:]

' ray'

10) Составить строку из всех четных символов строки 'Light ray'.

In [34]:
a='Light ray'
a[1::2]

'ih a'

11) Составить строку из всех нечетных символов строки 'Light ray'.

In [35]:
a='Light ray'
a[::2]

'Lgtry'

12) Инвертировать (получить строку с обратной последовательностью символо) строку  'Light ray'.

In [36]:
a='Light ray'
a[::-1]

'yar thgiL'

13) Вывести c третьего с начала до предпоследнего символа заранее низвестной строки, полученной с помощью функции input().

In [37]:
a=input()
a[3:]

a='Light ray'

"Light ray'"

14) Получить подстроку неизвестной заранее строки, содержащую половину символов строки и расположенную по середине строки.

In [ ]:
a=input()
b=len(a)
a[b//4:b//4+b//2]

15) Проверить, содержит ли произвольная строка, прочитанная в обратную сторону последовательность 'eno'

In [30]:
a='adsadaoneasfaf'
a.find("one")
if a==-1:
    print('Ne naideno')
else:
    print("naideno")

naideno

16) Получить строку, начинающуюся с последних 3 символов стркои 'Light ray', а заканчивающуюся подстрокой с 1го до 4го  символа строки.

In [10]:
a="Light ray"
a[6:9]+a[0:4]

'rayLigh'

17) Коротко записать создание строки 'oneoneoneoneoneonetwotwotwo'

In [11]:
a="one"
b="two"
a*6 + b*3

'oneoneoneoneoneonetwotwotwo'

18) Разбить строку на список из строк, состоящих только из названий чисел.

In [21]:
st = '  one,two,three,four,five,six,seven,eight,nine,ten   '
st1=st.split(",")
st12= '; '.join(st1)
st12

'  one; two; three; four; five; six; seven; eight; nine; ten   '

19) Вставить между всеми символами строки 'Hello world' стрелочку '->' и сохранить результат в строковой переменной.

Ожидаемый результат:

In [27]:
a='Hello world'
b=[]
for i in a:
    b.append(i)
c='->'.join(b)
c

'H->e->l->l->o-> ->w->o->r->l->d'

H->e->l->l->o-> ->w->o->r->l->d

20) Для двух произвольных строк провести сравнение на совпадение содержимого без учета регистра букв и начальных и конечных пробельных символов.

Например, для двух строк

In [3]:
st1 = '  HeLLO WOrlD'

In [4]:
st2 = 'hello WORLD  '

такое сравнение должно возвращать True (содержание строк совпадает).

21) В строке 'hello hello Hello hello' найти индекс второго вхождения подстроки 'hel'

In [28]:
a='hello hello Hello hello'
a.find('hel', 2)

6

22) В строке 'hello hello Hello hello' найти индекс второго С КОНЦА вхождения подстроки 'hel'

In [29]:
a='hello hello Hello hello'
a.rfind('hel')

18

23) Из заранее неизвестной строки вырезать подстроку, начинающуюся с 'he' и заканчивающееся 'on'. Протестировать на строке

    start hello python world

In [32]:
a='start hello python world'
a[a.find('he' ):a.find('he' )+2] + a[a.find('on' ):a.find('on' )+2]

'heon'

24) Используя цикл for и функцию enumerate() (см. лекцию 2) вывести произвольную строку на экран и при этом убрать все пробелы и на их месте вывести номер слова по счету

Пример.

Исходная строка:

hello hello Hello hello

In [66]:
stroka = input() 
k = 1 
for ind, symb in enumerate(stroka): 
    if(symb == " "): 
        print(k, end = "") 
        k += 1 
    elif(ind == len(stroka) - 1): 
        print(symb + str(k)) 
    else: 
        print(symb, end = "")

hello hello Hello hello
hello1hello2Hello3hello4

In [42]:
a='hello hello Hello hello'
print(a,sep=enumerate(a))

TypeError: sep must be None or a string, not enumerate

выведено на экран:

hello1hello2Hello3hello4

25) Сформировать строку форматирования, которая для вызова

format('val1', 'val2', 'val3')

In [64]:
"{2}-{1}-{0}-{1}-{2}".format('val1', 'val2', 'val3')

'val3-val2-val1-val2-val3'

будет возрващать следующий результат:

val3-val2-val1-val2-val3

26) Сформировать строку форматирования fs, которая при использовании в нижеследующем коде приводит к формированию таблицы, выведенной в следующей ячейке.

In [8]:
print('0123456789' * 4)
fs = '' # задайте тут свою строку форматирования
print(fs.format(453, 59.058, 1, line=1))
print(fs.format(123453, 159.0, 7, line=5))
print(fs.format(-12, -159.099, 16, line=15))
print(fs.format(1200, -1059.099, 255, line=105))

0123456789012345678901234567890123456789

In [6]:
print("""
0123456789012345678901234567890123456789
|   1 | ###59.06|      453 | 00000001 |
|   5 | ##159.00|  123,453 | 00000111 |
|  15 | #-159.10| -     12 | 00010000 |
| 105 | -1059.10|    1,200 | 11111111 |
""")

0123456789012345678901234567890123456789
|   1 | ###59.06|      453 | 00000001 |
|   5 | ##159.00|  123,453 | 00000111 |
|  15 | #-159.10| -     12 | 00010000 |
| 105 | -1059.10|    1,200 | 11111111 |